$base-color: #ffffff;
$grey-color: #b3b3ba;
$blue-color: #24a3ff;
$main-regular-color: #323264;
$gradient-red-reversed: linear-gradient(to left, #ef8080, #f0145a);
$gradient-red-text: linear-gradient(to left, #f0145a, #ef8080);

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to left, #323264, #323264, #643e72);
  font-family: "Montserrat";
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  display: inline-block;
  color: $base-color;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 15px;
}
