.header-wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
}

.header {
  width: 100%;
  position: fixed;
}

.navigation-link {
  &:not(:last-child) {
    margin-right: 15px;
  }
}
